//
//  Debug.xcconfig
//  Phone
//
//  Created by KudzaisheMhou on 31/10/2023.
//

// Define a SLASH variable to work around Xcode interpreting '//' as a comment.
// This allows us to compose the BASE_URL with the necessary double slashes for the URL scheme.
SLASH=/

BASE_URL = https:$(SLASH)/reqres.in/api
LOGIN_ENDPOINT = /login
EMPLOYEES_ENDPOINT = /users?page=1&per_page=12
COLORS_ENDPOINT = /unknown?per_page=12
TEAM_MEMBERS_ENDPOINT = /users
