<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>${BASE_URL}</string>
	<key>LoginEndpoint</key>
	<string>${LOGIN_ENDPOINT}</string>
	<key>EmployeesEndpoint</key>
	<string>${EMPLOYEES_ENDPOINT}</string>
	<key>ColorEndpoint</key>
	<string>${COLORS_ENDPOINT}</string>
	<key>TeamMembersEndPoint</key>
	<string>${TEAM_MEMBERS_ENDPOINT}</string>
	<key>CFBundleURLTypes</key>
	<array/>
</dict>
</plist>
